<h1>Advanced Tweet Search</h1>

<%= form_for @tweet_search, remote: true, html: {class: "pure-form"} do |s| %>

<div class="field">
    <%= s.label :keywords %><br />
    <%= s.text_field :keywords %>
</div>

<div class="field">
    <%= s.label :user_id %><br />
    <%= s.select :user_id, options_from_collection_for_select(User.all, :id, :username), :include_blank => true %>
</div>

<div class="actions"><%= s.submit "Search", class: "pure-button pure-button-primary" %></div>

<% end %>

<div id="results">
    
</div>