         <li class="list-group-item">
            <h5 class="List-group-item-heading"><%= tweet.user.username%></h5>
            <p class="list-group-item-text"><%= tweet.content %></p>
            <td class="text-center"> Total Comments : <span class="badge badge-primary badge-pill"><%= tweet.comments.count(:body) %></span></td>
            <p class="list-group-item-text">
            <%= link_to 'Show', tweet %>
          <% if tweet.user == current_user %>
            <%= link_to 'Edit', edit_tweet_path(tweet) %>
            <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
             </p>
        </li>
       
