<div class="container">

<div class="row">
    <div class="col-md-4">
      <% if user_signed_in? %>
       <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= @user.username %></h5>
              <p class="card-text"><%= @user.name %></p>
            </div>
      </div>
        <% else %>
          <p> Please sign up to post tweets! </p>
        <% end %>
    </div>

    <div class="col-md-8">

   

     <ul class="list-group">
       <% @tweets.each do |tweet| %>
        <li class="list-group-item">
            <h5 class="List-group-item-heading"><%= tweet.user.username%></h5>
            <p class="list-group-item-text"><%= tweet.content %></p>
            <td class="text-center"> Total Comments : <span class="badge badge-primary badge-pill"><%= tweet.comments.count(:body) %></span></td>
            

             </p>
        </li>
       <% end %>
      </ul>

   <% if user_signed_in? %>
    <%= link_to 'New Tweet', new_tweet_path %>
   <% end %>
  </div>

 </div>
</div>
